<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../public/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../public/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../public/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/executiveReport.css" />
    <title>Executive Report</title>
  </head>
  <body>
    <div class="body">
      <div class="apiIntroductionDetailsDiv">
        <!-- <h1><u>An Executive Report for BOLA and SSD scans</u></h1> -->
        <div class="timeAndDateInfoDiv">
          <p class="timeDateParagraph">Time/Date</p>
          <p class="time">Time & Date: <%= executiveReport.apiScanTime %></p>
        </div>
        <p class="basicDetailsParagraph">Basic API Details</p>
        <div class="apiDetailsDiv">
          <p class="apiOwnerName">
            API Owner Name: <%= executiveReport.apiOwnerName %>
          </p>
          <p class="apiOwnerEmail">
            API Owner Email: <%= executiveReport.apiOwnerEmail %>
          </p>
          <p class="apiName">API Name: <%= executiveReport.apiName %></p>
          <p class="apiDescription">
            API Description: <%= executiveReport.apiDescription %>
          </p>
          <p class="apiURL">API URL: <%= executiveReport.apiURL %></p>
          <p class="scanType">
            API Scan Type: <%= executiveReport.apiScanType %>
          </p>
          <p class="durationOfScan">
            Duration Scan: <%= executiveReport.apiScanDuration %>
          </p>
        </div>
      </div>

      <!-- <div class="notVulnerableToSsdScanDetailsDiv">
        <p class="executiveIsNotVulnerableToBola" id="">
          Status Code: <%= executiveReport.Status_Code %>
        </p>
        <p class="executiveIsNotVulnerableToSssd" id=""></p>
        <p class="executiveSecurityPostureHigh" id=""></p>
        <p class="executiveSecurityPriorityMedium" id=""></p>
        <p class="executiveCategoryForImediateAction" id=""></p>
      </div>
      <br />
      <div class="ssdReportBreakdown">
        <p class="executiveIsVulnerableToBola" id=""></p>
        <p class="executiveIsVulnerableToSssd" id=""></p>
        <p class="executiveSecurityPostureLow" id=""></p>
        <p class="executiveSecurityPriorityHigh" id=""></p>
        <p class="executiveCategoryForImediateAction" id=""></p>
      </div> -->

      <!-- Div for Impact of neglecting both BOLA and SSD in API -->
      <div class="impact">
        <div class="bolaImpactDiv">
          <h3>Impact of BOLA vulnerability to Business Logic and Continuity</h3>
          <p class="bolaImpact" id="">
            Impact of BOLA Vulnerability: <%= executiveReport.Impact_Of_Bola %>
          </p>
        </div>
        <div class="ssdImpactDiv">
          <h3>Impact of neglecting to Business Logic and Continuity</h3>
          <p class="ssdImpact">
            Impact of SSD Vulnerability: <%= executiveReport.Impact_Of_Ssds %>
          </p>
        </div>
      </div>

      <!-- Recommendations for both against scan results obtained -->
      <div class="recommendation">
        <div class="bolaReportRecommendationDiv">
          <h3>Recommendation/Mitigation Strategies for BOLA Vulnerability</h3>
          <p class="bolaRecommendation">
            Recommendations for BOLA Vulnerability: <%=
            executiveReport.Recommendation_For_Bola %>
          </p>
        </div>
        <div class="ssdReportRecommendationDiv">
          <h3>Recommendation/Mitigation Strategies for SSD Vulnerability</h3>
          <p class="ssdRecommendation">
            Recommendations for SSD Vulnerability: <%=
            executiveReport.Recommendation_For_Ssds %>
          </p>
        </div>
      </div>
      <footer><p class="copywright">M4z3 Copywright 2024</p></footer>
    </div>

    <div class="reportHero">
      <div class="reportNotice">
        <h1 class="heroHeading">API SCAN EXECUTIVE REPORT</h1>
        <p class="heroParagraph">
          A report for the Executives, Board of Directions, basically for
          Individuals who lack the technical Know how of the API Structure
        </p>
        <p class="heroRoundUp">M4z3 Technical Report</p>
      </div>
    </div>
  </body>
</html>
