<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/technicalReport.css" />
    <title>Technical Report</title>
  </head>
  <body>
      <div class="body">
        <div class="apiIntroductionDetailsDiv">
          <!-- <h1><u>A Technical Report for BOLA and SSD scans</u></h1> -->
          <div class="timeAndDateInfoDiv">
            <p class="timeDateParagraph">Time/Date</p>
            <p class="time">Time & Date: <%= technicalReport.apiScanTime %></p>
          </div>
          <p class="basicDetailsParagraph">Basic API Details</p>
          <div class="apiDetailsDiv">
            <p class="apiOwnerName">
              API Owner Name: <%= technicalReport.apiOwnerName %>
            </p>
            <p class="apiOwnerEmail">
              API Owner Email: <%= technicalReport.apiOwnerEmail %>
            </p>
            <p class="apiName">API Name: <%= technicalReport.apiName %></p>
            <p class="apiDescription">
              API Description: <%= technicalReport.apiDescription %>
            </p>
            <p class="apiURL">API URL: <%= technicalReport.apiURL %></p>
            <p class="apiKeywords">
              API Sensitive Keywords: <%= technicalReport.Total_Keywords_Scanned %>
            </p>
            <p class="apiIdentifiers">
              API Identifiers: <%= technicalReport.Unique_Identifiers_Used %>
            </p>
            <p class="scanType">API Scan Type: <%= technicalReport.apiScanType %></p>
            <p class="durationOfScan">
              Duration Scan: <%= technicalReport.apiScanDuration %>
            </p>
          </div>
        </div>
    
        <div class="bolaReportBreakdownDiv">
          <h3>Breakdown Report for Broken Object Level Authorization Scan</h3>
          <div class="bolaReportBreakdown">
              <div class="BolaScanDetailsDiv">
                <p class="isVulnrableToBola">Feedback: <%= technicalReport.Feedback %></p>
                <p class="endpointScanned">API Endpoint Scanned: <%= technicalReport.apiEndpointURL %></p>
                <p class="apiIdentifiersUsed one">Unique Identifiers Scanned For: <%= technicalReport.Unique_Identifiers_Used %></p>
                <p class="bolaRequest">BOLA Request: <%= technicalReport.Request %></p>
                <p class="bolaResponse">BOLA Response: <%= technicalReport.Response %></p>
                <p class="bolaResponseStatusCode">Status Code: <%= technicalReport.Status_Code %></p>
              </div>
            </div>
        </div>
    
          <div class="ssdReportBreakdown">
            <h3>Breakdown Report for Shadow Sensitive Data Scan</h3>
            <div class="ssdScanDiv">
              <div
                class="SsdScanDetailsDiv"
                id="SsdScanDetailsDiv"
              >
                <p class="Feddback">
                 Fedback: <%=technicalReport.Feedback %>
                </p>
                <p class="keywordsScanned">
                  Sensitive Keywords
                  scanned: <%=technicalReport.Total_Keywords_Scanned %>
                </p>
                <p class="keywordsFlagged">
                  Flaged Keywords: <%=technicalReport.Flagged_Keywords %>
                </p>
                <p class="keywordsNotFlagged">
                  Unflagged: <%=technicalReport.Unflagged_Keywords %>
                </p>
                <p class="ssdRequest">
                  SSD Request: <%=technicalReport.Request %>
                </p>
                <p class="ssdResponse">
                  SSD Response: <%=technicalReport.Response %>
                </p>
                <p class="ssdResponseStatusCode">
                  SSD Status Code: <%=technicalReport.Status_code %>
                </p>
              </div> <br>
            </div>
          </div>
           <!-- Div for Impact of neglecting both BOLA and SSD in API -->
        <div class="impact">
          <div class="bolaImpactDiv">
            <h3>Impact of BOLA Vulnerability to Application Logic</h3>
            <p class="bolaImpact"> Impact of BOLA Vulnerability: <%= executiveReport.Impact_Of_Bola %></p>
          </div>
          <div class="ssdImpactDiv">
            <h3>Impact of neglecting SSD in API's</h3>
            <p class="ssdImpact"> Impact of SSD Vulnerability: <%= executiveReport.Impact_Of_Ssds %></p>
          </div>
        </div>
    
        <!-- Recommendations for both against scan results obtained -->
        <div class="recommendation">
          <div class="bolaReportRecommendationDiv">
            <h3>Recommendation/Mitigation Strategies for BOLA Vulnerability</h3>
            <p class="bolaRecommendation">Recommendations for BOLA Vulnerability: <%= executiveReport.Recommendation_For_Bola %></p>
          </div>
          <div class="ssdReportRecommendationDiv">
            <h3>
              Recommendation/Mitigation Strategies for reduced exposure of SSD
            </h3>
            <p class="ssdRecommendation">Recommendations for SSD Vulnerability: <%= executiveReport.Recommendation_For_Ssds %></p>
          </div>
        </div>
    
        <footer><p class="copywright">M4z3 Copywright 2024</p></footer>
        </div>
    
       <div class="reportHero">
        <div class="reportNotice">
          <h1 class="heroHeading">API SCAN TECHNICAL REPORT</h1>
        <p class="heroParagraph">A  report for Developers, SOC Team, DevSecOps and other Fields dealing with the Technicalities</p>
        <p class="heroRoundUp">M4z3 Technical Report</p>
        </div>
       </div>
      </div>
  </body>
</html>
